body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2623 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2624_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:99px;
  height:74px;
}
#u2624 {
  position:absolute;
  left:285px;
  top:516px;
  width:96px;
  height:71px;
  -webkit-transform:rotate(255deg);
  -moz-transform:rotate(255deg);
  -ms-transform:rotate(255deg);
  transform:rotate(255deg);
}
#u2625 {
  position:absolute;
  left:2px;
  top:28px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2626 {
  position:absolute;
  left:373px;
  top:582px;
  width:18px;
  height:18px;
}
#u2627 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2628_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:118px;
  height:58px;
}
#u2628 {
  position:absolute;
  left:229px;
  top:467px;
  width:115px;
  height:55px;
  color:#99ABFF;
}
#u2629 {
  position:absolute;
  left:2px;
  top:20px;
  width:111px;
  word-wrap:break-word;
}
#u2630_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:99px;
  height:74px;
}
#u2630 {
  position:absolute;
  left:416px;
  top:128px;
  width:96px;
  height:71px;
  -webkit-transform:rotate(255deg);
  -moz-transform:rotate(255deg);
  -ms-transform:rotate(255deg);
  transform:rotate(255deg);
}
#u2631 {
  position:absolute;
  left:2px;
  top:28px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2632 {
  position:absolute;
  left:504px;
  top:194px;
  width:18px;
  height:18px;
}
#u2633 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2634_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:118px;
  height:58px;
}
#u2634 {
  position:absolute;
  left:360px;
  top:79px;
  width:115px;
  height:55px;
  color:#99ABFF;
}
#u2635 {
  position:absolute;
  left:2px;
  top:20px;
  width:111px;
  word-wrap:break-word;
}
#u2636_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:99px;
  height:74px;
}
#u2636 {
  position:absolute;
  left:814px;
  top:455px;
  width:96px;
  height:71px;
  -webkit-transform:rotate(255deg);
  -moz-transform:rotate(255deg);
  -ms-transform:rotate(255deg);
  transform:rotate(255deg);
}
#u2637 {
  position:absolute;
  left:2px;
  top:28px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2638 {
  position:absolute;
  left:902px;
  top:521px;
  width:18px;
  height:18px;
}
#u2639 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2640_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:118px;
  height:58px;
}
#u2640 {
  position:absolute;
  left:758px;
  top:406px;
  width:115px;
  height:55px;
  color:#99ABFF;
}
#u2641 {
  position:absolute;
  left:2px;
  top:20px;
  width:111px;
  word-wrap:break-word;
}
#u2642_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:118px;
  height:58px;
}
#u2642 {
  position:absolute;
  left:543px;
  top:209px;
  width:115px;
  height:55px;
  color:#99ABFF;
}
#u2643 {
  position:absolute;
  left:2px;
  top:20px;
  width:111px;
  word-wrap:break-word;
}
#u2644_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:99px;
  height:74px;
}
#u2644 {
  position:absolute;
  left:599px;
  top:264px;
  width:96px;
  height:71px;
  -webkit-transform:rotate(255deg);
  -moz-transform:rotate(255deg);
  -ms-transform:rotate(255deg);
  transform:rotate(255deg);
}
#u2645 {
  position:absolute;
  left:2px;
  top:28px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2646 {
  position:absolute;
  left:687px;
  top:330px;
  width:18px;
  height:18px;
}
#u2647 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
